+++
title = "The Blech language"
linkTitle = "The Blech language"

+++

{{< blocks/cover title="The Blech language" image_anchor="top" height="full" color="primary" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
        Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="/docs/getting-started">
        Download <i class="fab fa-github ml-2 "></i>
    </a>
    <p class="lead mt-5">Embedded real-time programming</p>
    <div class="mx-auto mt-5"> {{< blocks/link-down color="info" >}} </div>
</div>
{{< /blocks/cover >}}




{{% blocks/lead color="primary" %}}
Blech is a programming language for embedded, reactive, real-time critical software.

It allows writing reactive subprograms and combining them both sequentially and concurrently. 
Blech compiles to C code, which may be integrated into existing projects or simulation frameworks.

The German word _Blech_ roughly translates to _bare metal_. 
Blech programs can run directly on _the Blech_ on pretty much any embedded device.

{{% /blocks/lead %}}


{{< blocks/section color="white" >}}

<div class="col-12">
<h1 class="text-center">This is the Blech abstract</h1>
</div>

{{< /blocks/section >}}


{{< blocks/section color="dark" >}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="/docs/contributing/" %}}
We do a [Pull Request](https://github.com/boschresearch/blech/pulls) contributions workflow on **GitHub**. New contributors are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-slack" title="Discuss with the Blech developers!" url="https://blech-lang.slack.com/" %}}
Exchange ideas on the development and evolution of Blech; its compiler, tools and documentation.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/BlechLanguage" %}}
For announcement of latest features, releases, posts, and social events.
{{% /blocks/feature %}}

{{< /blocks/section >}}


