+++
title = "The Blech language"
linkTitle = "The Blech language"

+++

{{< blocks/cover title="The Blech language" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
        Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/boschresearch/blech">
        Download <i class="fab fa-github ml-2 "></i>
    </a>
    <p class="lead mt-5">Embedded real-time programming</p>
    <div class="mx-auto mt-5"> {{< blocks/link-down color="info" >}} </div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Blech is a programming language for embedded, reactive, real-time critical software.

The German word _Blech_ roughly translates to _bare metal_. 
Blech programs compile to C89 and can run directly on _the Blech_ on pretty much any embedded device.

{{% /blocks/lead %}}


{{< blocks/section color="white" >}}

<div class="col-12">
<h1 class="text-center">This is the Blech abstract</h1>
</div>

{{< /blocks/section >}}


{{< blocks/section color="dark" >}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/boschresearch/blech" %}}
We do a [Pull Request](https://github.com/boschresearch/blech/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-slack" title="Chat with the Blech developers!" url="https:/blech-lang.slack.com/" %}}
For questions on usage or proposals on the evolution of Blech.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/BlechLanguage" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}


{{% blocks/lead color="light" %}}
<h1 class="text-center">Companies and Universities using Blech</h1>


{{% /blocks/lead %}}

{{< blocks/section color="white">}}

### [Computer Science at University of Bamberg](https://www.uni-bamberg.de/en/informatik/)

### [Mathematik, Naturwissenschaften, Informatik at Technische Hochschule Mittelhessen](https://www.thm.de/mni/)

### [Electrical Engineering and Computer Science at Hochschule Niederrhein](https://web.hs-niederrhein.de/faculties/electrical-engineering-and-computer-science/)

### [Research at Robert Bosch GmbH](https://www.bosch.com/research)


{{< /blocks/section >}}

