<!-- Cookie Usage Notice-->
<div class="cookienotice">
    <div class="text">
      <p>If you accept, we share your usage data with <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank">Google Analytics</a> to understand site traffic and page usage. See our <a href="/about/data-protection-notice">data protection notice</a> for details.
      </p>
    </div>  
    <div class="buttons">
      <a class="ok btn-sm" onclick="acceptcookie()">Ok</a>
      <a class="close" onclick="closenotice()">&times</a>
    </div>
  </div>